

<div class="hedeardiv"><h1 class="header">Задачи</h1>
<div class="plus">
<div id="add"  type="button"  data-toggle="modal" data-target="#myModal">
<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 20 20">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg>
</div>
</div>

</div>
    <div class="parent">
      <% @cats.each do |cat| %>
      
      <div id=<%=cat.id %> class="p-3 border bg-light">
      <%=cat.title %>

      <% cat.todos.each do |c| %>
       <div id=<%=c.id %> class="form-check">
         <input id=<%=c.id %> class="form-check-input" type="checkbox" value=false  <%=c.isChecked%>  >
           <label  class="form-check-label" style='text-decoration:<%=c.isCompleted==true ?'line-through':'none' %>' >
                   <%=c.text %>
          </label>
       </div>
      
      <% end %>
      </div>
       <% end %>
</div>
    

<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title"  >Новая задача</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="inp">
        <div class="modal-content" >
        <input id="inputTodo" type="text" pattern="[A-Za-z]" placeholder="Название задачи..."/>
        </div>
        <br>
         <div  >
        <select id="select" class="modal-content" >
       
        <% @cats.each do |cat| %>
        <option  > <%=cat.title %> </option>
        <% end %>
         <option id="zero" value=0>добавить категорию</option>
          </select >
          </div>
           <div class="modal-content"id="inputCat" >
        <input id="inputCategory" placeholder="Введите категорию..."/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="btnSubmit" data-dismiss="modal" >Ок</button>
      </div>
    </div>
  </div>
</div>





